* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px;
    10px / 16px = 0.625 = 62.5 */
    font-size: 62.5%;

}

body {
    font-family: 'Poppins';
}

p {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 150rem;
    margin: 0 55px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33px;
}

.col-2 {
    width: 16.66px;
}

.col-3 {
    width: 25px;
}

.col-4 {
    width: 33.33px;
}

.col-5 {
    width: 41.66px;
}

.col-6 {
    width: 50px;
}

.col-7 {
    width: 58.33px;
}

.col-8 {
    width: 66.66px;
}

.col-9 {
    width: 75px;
}

.col-10 {
    width: 83.33px;
}

.col-11 {
    width: 91.66px;
}

.col-12 {
    width: 100px;
}

/* ***************Header***************** */
header {
    position: fixed;
    top: 0;
    left: 0;
    /* background-color:grey; */
    width: 100%;
    transition: all 0.5s;
    z-index: 9;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container img {
    width: 90%;
}

header nav {
    margin: auto;
}

header nav ul li {
    display: inline-block;
    padding: 3.3rem;
    position: relative;
}

header nav ul li ul {
    display: inline-block;
    position: absolute;
    top: 6.5rem;
    left: 1rem;
    display: none;
    background-color: #cfcfcf;
}

header nav ul li:hover a {
    color: #020202;
}

header nav ul li:hover ul {
    display: block;
}

header nav ul li ul li ul {
    width: 100%;
}

header nav ul li ul li:hover a {
    background-color: #FFFFFF;

}

nav ul li a {
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
}

header .search i {
    font-size: 1.8rem;
    color: white;
}

.dark-header {
    background-color: black;
}


/********* Hero Section ******************/

#hero {
    background: url(../images/banner.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

#hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-data {
    position: absolute;
    top: 30%;
}

.hero-data h1 {
    font-weight: 700;
    font-size: 9rem;
    line-height: 10rem;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.hero-data p {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: #cfcfcf;
    margin-bottom: 2rem;
}

.hero-data span {
    font-weight: 600;
    font-size: ;
    line-height: 3.6rem;
    color: #ECECEC;
}

#hero .search-data {
    width: 73rem;
    height: 6rem;
    border-radius: 8rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
}

#hero .search-data select {
    border: none;
    font-size: 1.5rem;
    font-family: 'poppins';
}

#hero .search-data .explore-btn {
    border: none;
    padding: 1.6rem 2.5rem;
    background-color: black;
    color: white;
    border-radius: 4rem;
    font-family: 'poppins';

}

/*********************************/

/**********Explore Section********/
#explore {
    margin: 17.8rem 0;
}

.main-title h2 {
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #020202;
    /* margin-top: -30rem; */
}

.main-title p {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #878787;
    margin-bottom: 3rem;
}

.explore-slide .card-img {
    height: 35rem;
}

.explore-slide .swiper-slide {
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2); */
    border-radius: 1rem;
}

.explore-slide .card-img img {
    height: 36.1rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    /* object-fit: cover;
    object-position: center center; */
}

.explore-slide .swiper-wrapper {
    padding: 2rem 0rem;
    margin-top: 85px;
}

.swiper-slide .card-text h2 {
    padding-top: 3.4rem;
    font-weight: 600;
    font-size: 2.4rem;
    padding-bottom: 1rem;
}

.swiper-slide .card-text p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #555555;
}

.swiper-slide .card-text {
    position: relative;
    padding: 3.5rem 2rem 2.5rem 1.4rem;
}

.swiper-slide .explore-circle {
    width: 7rem;
    height: 7rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -2rem;
    right: 3rem;
}

.swiper-slide .explore-circle span {
    color: black;
    display: block;
    font-size: 6.2rem;
    padding-left: 2.2rem;
}

.swiper-wrapper .card-text {
    opacity: 0;
    border-radius: 0 0 1rem 1rem;
}

.explore-slide .swiper-slide:hover .card-text {
    opacity: 1;
}

.explore-slide .swiper-slide:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 25%);
    transform: translateY(-1rem);
    transition: all 0.5s;
}

#explore .explore-slide {
    position: relative;
}

.explore-slide .swiper-button-prev {
    position: absolute;
    top: 25px;
    left: 20px;
    color: #020202;
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    border-radius: 2px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.explore-slide .swiper-button-next {
    position: absolute;
    top: 25px;
    right: 20px;
    color: #020202;
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    border-radius: 2px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);

}

.swiper-button-next:after,
.swiper-button-prev:after {
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    font-size: 2.5rem;
}

/* ************Why Choose*************** */
#why {
    background: url(../images/why-choose.jpg);
    background-size: 100% 70rem;
    object-fit: cover;
    object-position: center center;
    margin: 17.8rem 0;
    background-color: #878787;
    height: 45rem;
}

.swiper-wrapper{
    margin-top: 8rem;
    margin-bottom: 25px;
    margin-left: 15px;
    /* margin-right: 45px; */
}

.why-choose h2 {
    font-weight: 700;
    font-size: 6rem;
    text-align: center;
    line-height: 9rem;
    margin-bottom: 2rem;
    color: #FFFFFF;
}

.why-choose p {
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    color: #FFFFFF;
    line-height: 3.6rem;
    margin-bottom: 10rem;
    margin-top: -3rem;
}

.why-slider .swiper-slide {
    background-color: #FFFFFF;
    border-radius: 1rem;
    height: 40rem;
    /* border: solid black; */
    width: 32rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.why-slider .why-img {
    position: relative;
}

.why-slider .why-img img {
    position: absolute;
    width: 9.55rem;
    height: 9.7rem;
    top: 3rem;
    left: 2rem;
}

.why-slider .text {
    position: absolute;
    top: 13rem;
    left: 2rem;
}

.why-slider .text h2 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 4.6rem;
}

.why-slider .text p {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.7rem;
}
.why-slider .text h3{
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 7.7rem;
}
.why-slider{
    position: relative;
}
.why-slider .swiper-button-next{
    position: absolute;
    top: 25px;
    right: 20px;
    color: #020202;
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    border-radius: 2px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.why-slider .swiper-button-prev{
    position: absolute;
    top: 25px;
    left: 20px;
    color: #020202;
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    border-radius: 2px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);

}


/* *************Our Tour Partner *********** */

#our{
    margin: 17.8rem 0;
}

.main-title{
    margin-top: 40rem;
}

.main-title h2 {
   margin-top: 10rem;
}
.our-img{
    display: flex;
}
.our-img img{
    height: 4rem;
    margin: 4rem;
}


/* *************************************** */

/* **************Testi Monial************* */

.testi-container{
    margin-top: 5rem;
}

.title-testi h3{
    font-size: 3rem;
    font-weight: 500;
    line-height: 7rem;
    letter-spacing: 14%;
    color: #626262;
}
.title-testi h2{
    font-size: 6rem;
    font-weight: 600;
    line-height: 7rem;
    color:#020202;
}
.title-testi p{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 4rem;
    color: #626262;
}
.mytest-Swiper .swiper-slide{
    height: 42rem;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15rem;
}
.testi-swiper .swiper-slide .testi-img img{
    width: 130px;
    height: 130px;
    margin-left: 8rem;
    margin-top: -6rem;
}
.testi-swiper .swiper-slide .testi-data h2{
    font-size: 2rem;
    font-weight: 600;
    line-height: 4rem;
    text-align: center;
}
.testi-swiper .swiper-slide .testi-data:nth-child(2)p{
    margin-left: 4rem;
    margin-top: -4rem;
}
.testi-swiper .swiper-slide .testi-data>p{
    text-align: center;
    margin-top: -1rem;
}
.testi-swiper .swiper-slide .testi-data img{
    height: 2.1rem;
    width: 13.3rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
    margin-top: 12rem;
}
.testi-swiper .swiper-slide .testi-data p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.8rem;
    color: #858585;    
}


/* *************** Subscribe ************** */

#subscribe{
    background: url(../images/subscribe.jpg);
    height: 40rem;
    position: relative;
    background-size: 100%;
    object-fit: cover;
}
#subscribe::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0 0 0 /0.5);
}
#subscribe .main-subscribe{
    position: relative;
    z-index: 999;
}
.main-subscribe h2{
    font-weight: 600;
    font-size: 6rem;
    line-height: 7rem;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 2rem;
}
.main-subscribe p{
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.4rem;
    text-align: center;
    color: #FFFFFF;
}
.type{
    width: 67.6rem;
    height: 6.9rem;
    background-color: #FFFFFF;
    border-radius: 5rem;
    margin: 0 auto;
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
}
.type h3{
    font-weight: 500;
    font-size: 2rem;
    line-height: 3.4rem;
    color: #9b9b9b;
    padding: 1.7rem;
}
.type .type-btn{
    margin: 1rem;
}
.type .type-btn button{
    font-size: 'poppins';
    border: none;
    padding: 0 3rem;
    margin-right: 0rem;
    color: white;
    background-color: black;
    height: 5rem;
    border-radius: 7.2rem;
    font-size: 1.8rem;
}

/* ****************************************** */


/* ************Footer************************ */

#footer{
    margin-top: 5rem;
    height: 50rem;
}
#footer .footer-main{
    display: flex;
    justify-content: space-between;
        
}
#footer .footer-logo img{
    width: 383px;
    height: 84px;
}
#footer .footer-logo p{
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #6C6C6C;
}
#footer .footer-data h3{
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 7rem;
    align-items: center;
}
.footer-links h3{
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 7rem;
}
.footer-links ul{
    text-decoration: none;
    list-style-type: none;
    
}
.footer-links ul li a{
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.4rem;
    color: #6C6C6C;
}





/* ****************************************** */











/* ************************************** */

/* ************Responsive*************** */
/* @media screen and (max-width:768px) {
    header nav ul {
        position: absolute;
        width: 30%;
        height: 100vh;
        background-color: #878787;
        top: 0;
        right: 0;
        transition: all 1s;
    }
    header nav i{
        position: absolute;
        top: 0;
        left: 100px; 
    }
    header nav ul i{
        position: absolute;
        top: 15px;
        left: 180px;
        font-size: 20px;
        color: white;
    }
    header nav ul li{
        display: inline-block;
    }
    header nav ul>li{
        margin-top: 1rem;
        margin-left: 2rem;
        font-size: 1rem;
        color: white;
    }
    .showHide{
        right: -40%;
    }
} */

/* 1366-1440(Laptop) */
@media screen and (max-width:1440px) {
    .hero-data h1 {
        font-size: 8rem;
        line-height: 10rem;
    }

    .hero-data p {
        font-size: 1.5rem;
        line-height: 3rem;
    }

    .main-title h2 {
        font-size: 5.5rem;
    }

    .main-title p {
        font-size: 1.6rem;
    }

}

/* 1200-1365 (Big ipad) */
@media screen and (max-width:1365px) {
    .nav ul li a {
        color: white;
        font-size: 1.2rem;
    }

    .main-title p {
        margin-top: -3rem;
    }

    .hero-data h1 {
        font-size: 7rem;
        line-height: 9rem;
    }

    .container img {
        width: 80%;
    }
}

/* 992-1199 (Big Tablet) */
@media screen and (max-width:1199px) {
    .nav ul li a {
        font-size: 1.2rem;
    }

}

/* 768-991 (Small Tablet) */
@media screen and (max-width:991px) {
    .nav ul li a {
        font-size: 1rem;
    }

    .header nav ul li {
        display: inline-block;
        padding: 3rem 2rem;
    }
}

/* 575-767 (Mobile Landscape) */
@media screen and (max-width:767px) {}

/* 480-574 (Mobile) */
@media screen and (max-width:574px) {}

/* 0-320-479 (Small Mobile) */
@media screen and (max-width:479px) {}


/* ************************************* */






/*********************************/

/* @media screen and (max-width:768px) {
    header nav ul {
        position: absolute;
        width: 70%;
        height: 100vh;
        background-color: grey;
        top: 0;
        right: 0;
        transition: all 1s;
    }

    header .search i {
        display: none;
    }

    header nav ul li {
        display: block;
    }

    nav ul>i {
        margin-top: 2rem;
        margin-left: 20.5rem;
        font-size: 1.8rem;
        color: white;
    }

    nav ul {
        transition: all 1s;
    }

    .showHide {
        right: -70%;
    }

} */