*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /* font-size: 10px;
    10px / 16px = 0.625 = 62.5 */
    font-size: 62.5%;
}
body{
    font-family: 'Poppins';
}
p{
    font-size: 2rem;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 137rem;
    max-height: 698rem;
    margin: 0 auto;
    background-color: rgb(131, 131, 226);
}