* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px;
    10px / 16px = 0.625 = 62.5 */
    font-size: 62.5%;

}

body {
    font-family: 'Poppins';
}

p {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 150rem;
    margin: 0 55px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33px;
}

.col-2 {
    width: 16.66px;
}

.col-3 {
    width: 25px;
}

.col-4 {
    width: 33.33px;
}

.col-5 {
    width: 41.66px;
}

.col-6 {
    width: 50px;
}

.col-7 {
    width: 58.33px;
}

.col-8 {
    width: 66.66px;
}

.col-9 {
    width: 75px;
}

.col-10 {
    width: 83.33px;
}

.col-11 {
    width: 91.66px;
}

.col-12 {
    width: 100px;
}

/* ***************Header***************** */
header {
    position: fixed;
    top: 0;
    left: 0;
    /* background-color:grey; */
    width: 100%;
    transition: all 0.5s;
    z-index: 9;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container img {
    width: 90%;
}

header nav {
    margin: auto;
}

header nav ul li {
    display: inline-block;
    padding: 3.3rem;
}

nav ul li a {
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
}

header .search i {
    font-size: 1.8rem;
    color: white;
    padding-right: 10.3rem;
}

.dark-header {
    background-color: black;
}


/********* Hero Section ******************/

#hero {
    background: url(../images/banner.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

#hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-data {
    position: absolute;
    top: 30%;
}

.hero-data h1 {
    font-weight: 700;
    font-size: 9rem;
    line-height: 11rem;
    color: #FFFFFF;
    margin-bottom: 3rem;
}

.hero-data p {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: #cfcfcf;
    margin-bottom: 3rem;
}

.hero-data span {
    font-weight: 600;
    font-size: ;
    line-height: 3.6rem;
    color: #ECECEC;
}

#hero .search-data {
    width: 73rem;
    height: 8rem;
    border-radius: 8rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 2rem 1.5rem;
    margin-bottom: 4rem;
}

#hero .search-data select {
    border: none;
    font-size: 1.5rem;
}

#hero .search-data .explore-btn {
    border: none;
    padding: 2rem 3rem;
    background-color: black;
    color: white;
    border-radius: 4rem;

}

/*********************************/

/**********Explore Section********/
#explore {
    margin: 17.8rem 0;
}

.main-title h2 {
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #020202;
    margin-bottom: 5rem;
}

.main-title p {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #878787;
    margin-bottom: 3rem;
}

.explore-slide .card-img {
    height: 35rem;
}

.explore-slide .swiper-slide {
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2); */
    border-radius: 1rem;
}

.explore-slide .card-img img {
    height: 36.1rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    /* object-fit: cover;
    object-position: center center; */
}

.explore-slide .swiper-wrapper {
    padding: 2rem 0rem;
    margin-top: 85px;
}

.swiper-slide .card-text h2 {
    padding-top: 3.4rem;
    font-weight: 600;
    font-size: 2.4rem;
    padding-bottom: 1rem;
}

.swiper-slide .card-text p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #555555;
}

.swiper-slide .card-text {
    position: relative;
    padding: 3.5rem 2rem 2.5rem 1.4rem;
}

.swiper-slide .explore-circle {
    width: 7rem;
    height: 7rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -2rem;
    right: 3rem;
}

.swiper-slide .explore-circle span {
    color: black;
    display: block;
    font-size: 6.2rem;
    padding-left: 2.2rem;
}

.swiper-wrapper .card-text {
    opacity: 0;
    border-radius: 0 0 1rem 1rem;
}

.explore-slide .swiper-slide:hover .card-text {
    opacity: 1;
}

.explore-slide .swiper-slide:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 25%);
    transform: translateY(-1rem);
    transition: all 0.5s;
}

#explore .explore-slide {
    position: relative;
}

.explore-slide .swiper-button-prev {
    position: absolute;
    top: 25px;
    left: 20px;
    color: #020202;
    font-size: 2rem;
    height: 7rem;
    width: 7rem;
    border-radius: 2px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.explore-slide .swiper-button-next {
    position: absolute;
    top: 25px;
    right: 20px;
    color: #020202;
    font-size: 2rem;
    height: 7rem;
    width: 7rem;
    border-radius: 2px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);

}

/* ************Why Choose*************** */
#why {
    margin: 17.8rem 0;
    background-color: #878787;
    height: 45rem;
}

.why-choose h2 {
    font-weight: 600;
    font-size: 6rem;
    text-align: center;
    line-height: 9rem;
    margin-bottom: 2rem;
    color: #FFFFFF;
}

.why-choose p {
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    color: #FFFFFF;   
    margin-bottom: 10rem;
}
.why-slider .swiper-slide{
    background-color: #FFFFFF;
    border-radius: 1rem;
    height: 32rem;
}
.why-slider .why-img img{
    width: 9.55rem;
    height: 9rem;
}



/* ************************************** */

/* ************Responsive*************** */
/* 1366-1440(Laptop) */
@media screen and (max-width:1440px) {
    .hero-data h1 {
        font-size: 8rem;
        line-height: 10rem;
    }

    .hero-data p {
        font-size: 1.5rem;
        line-height: 1rem;
    }

    .main-title h2 {
        font-size: 5.5rem;
    }

    .main-title p {
        font-size: 1.6rem;
    }

}

/* 1200-1365 (Big ipad) */
@media screen and (max-width:1365px) {
    .nav ul li a {
        color: white;
        font-size: 1.2rem;
    }

    .main-title p {
        margin-top: -3rem;
    }

    .hero-data h1 {
        font-size: 7rem;
        line-height: 9rem;
    }

    .container img {
        width: 80%;
    }
}

/* 992-1199 (Big Tablet) */
@media screen and (max-width:1199px) {
    .nav ul li a {
        font-size: 1.2rem;
    }

}

/* 768-991 (Small Tablet) */
@media screen and (max-width:991px) {
    .nav ul li a {
        font-size: 1rem;
    }

    .header nav ul li {
        display: inline-block;
        padding: 3rem 2rem;
    }
}

/* 575-767 (Mobile Landscape) */
@media screen and (max-width:767px) {}

/* 480-574 (Mobile) */
@media screen and (max-width:574px) {}

/* 0-320-479 (Small Mobile) */
@media screen and (max-width:479px) {}


/* ************************************* */






/*********************************/

/* @media screen and (max-width:768px) {
    header nav ul {
        position: absolute;
        width: 70%;
        height: 100vh;
        background-color: grey;
        top: 0;
        right: 0;
        transition: all 1s;
    }

    header .search i {
        display: none;
    }

    header nav ul li {
        display: block;
    }

    nav ul>i {
        margin-top: 2rem;
        margin-left: 20.5rem;
        font-size: 1.8rem;
        color: white;
    }

    nav ul {
        transition: all 1s;
    }

    .showHide {
        right: -70%;
    }

} */